body {
    background: #EFEFEF;
    color: #503629;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.title {
    margin: 20px 0;
}
.bigImg {
    width: 700px;
    height: 500px;
}
.detailImg {
    width: 1200px;
    height: 700px;
}
